.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.navigation ul{
  display: flex;
  list-style: none; 
  gap:24px ;
  padding: 0 8px;
  font-weight: 500;
}